<!-- Begin Location Section -->
<section id="location-map" class="location-map">
    <div class="content-wrapper">
        <div class="col-lg-3 col-md-4 col-sm-6 col-md-offset-1 animated hiding location-description text-left" data-animation="fadeInLeft" data-delay="0" style="position: absolute;
        bottom: 0;
        left: 0;
        z-index: 99;">
            <div class="row">
                <div class="pull-left">
                    <h3>{{ site.locationBlockTitle }}</h3>
                    <ul>
                        {% if site.eventLocationName %}<li>{{ site.eventLocationName }}</li>{% endif %}
                        <li>{{ site.eventStreetAddress }}, {{ site.eventAddressLocality }}</li>
                        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                        <li>
                            {% assign startTime = site.eventStartTime | split: "T" %}
                            <time>{{ startTime[1] }}</time> -
                            {% assign endTime = site.eventEndTime | split: "T" %}
                            <time>{{ endTime[1] }}</time>
                        </li>
                    </ul>
                </div>
                <a href="{{ site.baseurl | append: '/logistics/#find-way' }}" class="pull-right">
                    <svg class="icon icon-direction" viewBox="0 0 32 32">
                        <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-direction"></use>
                    </svg>
                </a>
            </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51163.26358931537!2d-4.579292352797654!3d36.72967017045079!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72f74b9f3606f1%3A0x9fa32cc2e6b0bbf9!2sE.T.S.%20De%20Ingenier%C3%ADa%20Inform%C3%A1tica!5e0!3m2!1ses!2ses!4v1638228151049!5m2!1ses!2ses" width="100%" style="min-height: 500px;" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    </div>
</section>
<!-- End Location Section -->